html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #eee;
  color: #000;
}

h1 {
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 32px;
  padding-bottom: 10px;
  border-bottom: 3px solid orange;
}

h3 {
  font-size: 20px;
  font-weight: 300;
}

h4 {
  font-size: inherit;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 3px solid orange;
  padding-bottom: 3px;
  margin: 4px 0;
  display: inline-block;
}

a {
  color: #00f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 800px;
  margin: auto;
  padding: 0 4em 1em;
  border: 1px solid #ddd;
  background: #fff;
}

.header {
  margin: 30px 0;
}

.section {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

ul {
  list-style: none;
}

ul,
ol {
  margin: 5px 0 10px;
  padding: 0;
}

ul li {
  margin-left: 0;
  margin-bottom: 5px;
}

ol li {
  margin-left: 30px;
}

.inner {
  margin-left: 30px;
  margin-bottom: 30px;
}

.note {
  font-size: 13px;
  line-height: 1.3em;
  display: block;
  background-color: #eee;
  margin-top: 5px;
  padding: 8px;
}

/* .responsive {
  width: 100%;
  height: auto;
  margin-top: 10px;
} */

.banner {
  position: relative;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: auto;
}

.section .title {
  font-weight: 600;
  margin-top: 20px;
}

.section .title.first {
  margin-top: 0;
}

.browny {
  color: brown;
}

.watch-video {
  position: absolute;
  top: 50%;
  left: 20px;
  padding: 10px;
  background: #e41010;
  color: #fff;
  border: 1px solid #d90f0f;
  border-radius: 4px;
  text-decoration: none;
}

.watch-video:hover {
  background: #f00;
  border: 1px solid #ec0b0b;
  text-decoration: none;
}

#video-outer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
}

#video-outer .video-inner {
  max-width: 1200px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 1002;
}

#video-outer .video-inner .video {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}

#video-outer .video-inner .play-overlay {
  width: 144px;
  height: 144px;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1005;
}

.play-overlay img {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease;
  pointer-events: inherit;
  display: none;
}

#video-outer .overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1001;
}

#close-video {
  position: fixed;
  right: 20px;
  top: 10px;
  font-size: 32px;
  color: #ccc;
  text-decoration: none;
  z-index: 1003;
}

#close-video:hover {
  color: #fff;
  cursor: pointer;
}

.fadeOut {
  animation: fade-out 0.5s ease-in;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  65% {
    opacity: 0.5;
    transform: scale(1.55);
  }
  100% {
    opacity: 0;
    transform: scale(2.2);
    display: none;
  }
}

@media (min-width: 1280px) {
  #video-outer .video-inner {
    width: 100%;
  }
}

@media (max-width: 914px) {
  .container {
    width: calc(100% - 120px);
  }
  .watch-video {
    display: none;
  }
  #video-outer {
    display: none;
  }
}
