/*csslint important: false*/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto/roboto-v15-latin-regular.eot');
  src: local('Roboto'),
       local('Roboto-Regular'),
       url('../fonts/roboto/roboto-v15-latin-regular.woff2') format('woff2'),
       url('../fonts/roboto/roboto-v15-latin-regular.woff') format('woff'),
       url('../fonts/roboto/roboto-v15-latin-regular.ttf') format('truetype'),
       url('../fonts/roboto/roboto-v15-latin-regular.svg#Roboto') format('svg');
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  background: #fff;
  color: #333;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 33px;
}

h2 {
  font-size: 27px;
}

h3 {
  font-size: 23px;
}

h4 {
  font-size: 17px;
}

h1, h2, h3, h4 {
  font-weight: 500;
  line-height: 1.1;
  margin-top: 9px;
  margin-bottom: 9px;
}

pre {
  padding: 8px;
  margin: 0 0 9px;
  font-size: 12px;
}

::-moz-selection {
  background: #2b9ad9;
  color: #fff;
}

/* Panel */
.panel {
  width: 720px;
  height: 472px;
  background: #eee;
  position: relative;
  margin: 0 !important;
}

/* Publisher */
.publisher {
  width: inherit;
  height: inherit;
  display: block;
  border: 1px solid #ddd;
}

.publisher>.footer, .publisher>.header {
  display: block;
  background: #eee;
}

.publisher>.header {
  margin: 0;
  padding: 6px 4px;
}

.publisher>.editor {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 14px;
  outline: 0;
  margin: 0;
  display: block;
  padding: 5px;
  width: 100%;
  height: 320px;
  resize: none;
  border: 0;
  border-top: 1px dashed #ddd;
  border-bottom: 1px dashed #ddd;
  border-radius: 0;
  box-shadow: none;
  background: #fafafa;
}

.publisher>.editor:focus {
  box-shadow: none;
  background: #fff;
}

.publisher.active {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

/* Preview */
.publisher>.preview {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  background: #fff;
  border-top: 1px dashed #ddd;
  border-bottom: 1px dashed #ddd;
  min-height: 10px;
  padding: 5px;
  overflow: auto;
}

.publisher>.preview h1:first-child,
.publisher>.preview h2:first-child,
.publisher>.preview h3:first-child,
.publisher>.preview h4:first-child {
  margin-top: 0;
}

.publisher>.preview p {
  margin: 0 0 0.8em;
}

.publisher>.preview img {
  max-width: 100%;
  display: block;
  height: auto;
}

.publisher>.preview blockquote {
  margin-left: 10px !important;
  padding-left: 5px;
  border-left: 5px solid #ddd;
}

.publisher>.footer>.footer-controls {
  height: 80px;
  position: relative;
}

.publisher>.footer>.footer-controls div {
  float: left;
}

.publisher>.footer>.footer-controls label {
  font-size: 90%;
  text-transform: uppercase;
  color: #333;
  margin: 15px 0 0 10px;
  display: block;
}

.publisher>.footer>.footer-controls .tags {
  width: 525px;
  height: 30px;
  margin: 0 10px;
  padding: 5px;
  border: 1px solid #ddd;
  font-size: 13px;
  letter-spacing: 1px;
}

.publisher>.footer>.footer-bar {
  height: 28px;
  background: #333;
  color: #aaa;
  line-height: 28px;
  font-size: 11px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
}

/* Buttons */
.btn {
  font-size: 12px !important;
  border-radius: 2px !important;
}

.btn .btn-text {
  padding: 0 5px;
}

.btn-toolbar .btn-group {
    margin-left: 5px;
    float: left;
}

.md-buttons .btn {
  min-width: 34px;
}

.btn-dropdown {
  width: 180px;
}

.dropdown-menu {
  width: 180px;
  font-size: 12px;
  right: 0;
  left: auto;
}

.dropdown-menu li:hover {
  cursor: pointer;
}

.dropdown-menu li .fa-check {
  display: none;
  padding-right: 5px;
}

.dropdown-menu li.selected .fa-check {
  display: inline-block;
}

button:focus, button:active {
  outline: none !important;
}

.btn-send {
  width: 160px;
  margin-top: 25px !important;
}
