body {
    color: #cccccc;
    background: #333333;
    font-family: 'Droid Sans', sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

::-moz-selection {
    color: #fff;
    background: #2b9ad9;
}

a:focus, a:active {
    border: 0;
    outline: 0;
}

.container {
    width: 720px;
    height: 500px;
    position: relative;
}

#main {
    width: 495px;
    margin: 10px 0 0 10px;
    float: left;
    display: block;
}

#bar {
    width: 190px;
    float: left;
    margin: 16px 0 0 12px;
    display: block;
}

fieldset {
    border: 1px solid #555555;
    border-radius: 4px;
}

fieldset:not(:first-child) {
    margin-top: 15px;
}

legend {
    font-size: 90%;
    text-transform: uppercase;
    color: #eeeeee;
    margin: 0 5px;
}

textarea {
    padding: 5px;
    border: none;
}

#title,
#text,
#tags {
    width: 100%;
    display: block;
}

#title,
#tags {
    height: 40px;
}

#text {
    height: 200px;
}

#url {
    width: 400px;
    height: 40px;
    background: #333333;
    resize: none;
    color: #00aaff;
    float: left;
}

#thumbox {
    width: 100%;
    height: 188px;
    border: 1px solid #555555;
    border-radius: 4px;
    margin-bottom: 20px;
    overflow: hidden;
    display: block;
}

#thumbox img {
    width: 188px;
    height: 188px;
    object-fit: scale-down;
}

.button {
    text-decoration: none; 
    color: #eeeeee;
    border-radius: 4px;
    display: block; 
}

.shorten {
    text-align: center;
    float: right;
}

.shorten,
.format,
.send {
    background: #555555;
}

.send {
    padding: 22px;
    margin-top: 26px;
    font-size: 16px;
    text-align: center;
}

.shorten:hover,
.format:hover,
.send:hover {
    color: #ffffff;
    background: #2b9ad9;
}

.shorten,
.format,
.undo {
    padding: 8px;
    margin-top: 5px;
}

.undo {
    background: #ff3322;
}

.undo:hover {
    color: #ffffff;
    background: #ff0000;
}

#footer {
    position: absolute;
    bottom: 4px;
    width: 100%;
    height: 26px;
    color: #dddddd;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2px;
}