body {
    font-family: 'Droid Sans', sans-serif;
    font-size: 12px;
    background: #eeeeee;
    color: #333333;
    margin: 0;
    padding: 0;
}

::-moz-selection {
    background: #2b9ad9;
    color: #ffffff;
}

.container {
    width: 720px;
    height: 500px;
    position: relative;
}

.main {
    width: 474px;
    height: 478px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    border-right: 0;
    float: left;
}

.sidebar {
    width: 205px;
    height: 480px;
    background: #333333;
    color: #cccccc;
    padding: 10px;
    float: left;
}

fieldset {
    border: 1px solid #cccccc;
}

fieldset:not(:first-child) {
    margin-top: 15px;
}

legend {
    font-size: 90%;
    text-transform: uppercase;
    color: #333333;
    margin: 0 5px;
}

textarea {
    background: #ffffff;
    color: #333333;
    padding: 5px;
    border: none;
}

#sm-title,
#sm-text,
#sm-tags {
    width: 100%;
    border: 1px solid #dddddd;
    display: block;
}

#sm-title,
#sm-tags {
    height: 40px;
}

#sm-text {
    height: 225px;
}

#sm-url {
    width: 372px;
    height: 38px;
    background: #eeeeee;
    resize: none;
    color: #00aaff;
    float: left;
}

.thumb-container {
    width: 203px;
    height: 188px;
    border: 1px solid #555555;
    border-radius: 4px;
    margin-bottom: 15px;
    overflow: hidden;
    display: block;
    position: relative;
}

.thumb-container img {
    width: 100%;
    height: 188px;
    object-fit: scale-down;
}

.thumb-container .overlay {
   position: absolute;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   display: flex;
   align-items: center;
   /*text-align: center;*/
   z-index: 1000;
   background-color: #333333;
   color: #ffffff;
   padding: 5px;
   font-weight: bold;
}

.md-btns-container {
    width: 205px;
    display: inline-block;
}

.md-btns-container .button {
    width: 100px;
    height: 32px;
    float: left;
}

.button {
    font-size: inherit;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 2px;
    margin-top: 5px;
    cursor: pointer;
    display: block;
}

button::-moz-focus-inner{
    padding : 0;
    border  : 0;
}

.shorten {
    width: 80px;
    height: 32px;
    background: #a2d9ee;
    color: #888888;
    float: right;
}

.shorten:hover {
    background: #2b9ad9;
    color: #ffffff;
}

.format {
    background: #555555;
    color: #eeeeee;
}

.format:hover {
    background: #2b9ad9;
    color: #ffffff;
}

.format:first-child {
    margin-right: 5px;
}

.undo {
    background: #555555;
    color: #999999;
    cursor: not-allowed;
}

.enabled {
    background: #ff3322;
    color: #eeeeee;
}

.enabled:hover {
    background: #ff0000;
    color: #ffffff;
    cursor: pointer;
}

.share-with-container {
    margin-top: 15px;
}

#share {
    width: 205px;
    height: 24px;
    background: #444444;
    color: #fabb68;
    font-size: inherit;
    text-align: center;
    margin: 5px 0 5px;
    padding: 0 7px;
    border: none;
}

.share-with-opt {
    color: #999999;
    font-size: 10px;
    text-align: center;
    display: block;
}

.send {
    width: 100%;
    height: 60px;
    background: #555555;
    color: #eeeeee;
    margin-top: 16px;
    font-size: 16px;
    text-align: center;
}

.send:hover {
    background: #2b9ad9;
    color: #ffffff;
}

.sending{
    background: #ff0000;
    color: #ffffff;
}

.brand {
    width: 205px;
    height: 26px;
    color: #888888;
    line-height: 26px;
    font-size: 11px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    bottom: 4px;
    position: absolute;
}
